header {
  height: 400px;
  width:100%;
  color: #545149;
  background-color: #db8f15;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #25008a;
  background-color: #c7bd00;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");


}

.name {
  

}

.avatar{
 

}