
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f4f1ec;
  width: 100%;
  padding: 20px;
 }
.tweet{
  height: 400px;
  border: 3px solid black;
  /* background-image: url("https://www.transparenttextures.com/patterns/arches.png"); */
}
.tweet header {
  background-color: transparent;
}
.myform {
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

#tweet-text{
  margin-bottom:20px;
  border-bottom:3px solid gray ;
  width: 100%;
  border-top:none;
  border-left:none;
  border-right:none;
}
.form-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  width: 100%;
}
.form-footer button{
background-color: #4056A1;
border:none;
}
.red{
  color: red;
}

.user{
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: flex-start;
  
  width: 100%;
  padding: 20px;
}



#tweet-container{
  display: flex;
  flex-direction:column;
  background-color: #f4f1ec;
  width: 100%;
  padding: 20px;
  
  
}
#tweet-container p{
  margin: 20px;
  border-bottom:3px solid gray  ; 
  padding: 20px;
}
#tweet-container footer{
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}
.user-email{
  display: flex;
  flex-direction:row;
  align-items: flex-end;
  opacity: 0;
}
.user-email:hover{
  opacity:.6;
}
header.user{
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}
.user p{
  margin: 20px;
  border-bottom:3px solid gray  ;
}
